.cvContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1250px;
  background-color: rgb(173, 140, 57);
}

i {
  font-size: 60px;
}